@import 'breakpoint';

// components
@import 'components/variables';
@import 'components/resets';
@import 'components/aux';

// components
@import 'components/base';
@import 'components/topnav';
@import 'components/footer';


body {
    // background-color: red;
    // background-color: $purple;
}


// Temp Stuff
section {
    padding: 40px 0;
}

section.negative {
    background-color: $purple;
}

.b-footer {
    margin-top: 103px;
}

