.b-form {
    padding: 10px 0;

    ::-webkit-input-placeholder { 
        color: $black; 
        text-align: left;
    }
    :-moz-placeholder { 
        color: $black;
        text-align: left;
    } /* Firefox 18- */
    ::-moz-placeholder {
        color: $black; 
        text-align: left;
    } /* Firefox 19+ */
    :-ms-input-placeholder { 
        color: $black; 
        text-align: left;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        text-align: left;
        border: 0;
        background-color: $gray-10;
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 15px;
        @include transition;
    }


    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        background-color: $gray-20;
        @include transition;
    }

    input[type="submit"] {
        @extend .b-button;
        border: 0;
    }

    textarea { resize: vertical; }
    
    input[type="checkbox"],
    input[type="radio"] {
        display: none;

    }

    .e-checkbox,
    .e-radio {
        padding-bottom: 15px;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
        vertical-align: -6px;
        margin-right: 15px;
    }

    input[type="checkbox"] + label:before {
        @include material-icons;
        content: 'check_box_outline_blank';

    }

    input[type="checkbox"]:checked + label:before {
        @include material-icons;
        content: 'check_box';
    }

    input[type="radio"] + label:before {
        @include material-icons;
        content: 'radio_button_unchecked';
    }
    input[type="radio"]:checked + label:before {
        @include material-icons;
        content: 'radio_button_checked';
    }










































}