/*
Map

USA map via D3 <a href="http://bl.ocks.org/mbostock/4699541">http://bl.ocks.org/mbostock/4699541</a>

Markup:
<div class="map"></div>
<style>
.background {
  fill: none;
  pointer-events: all;
}
.feature {
  fill: #ccc;
  cursor: pointer;
}
.feature.active {
  fill: orange;
}
.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.node, .remove {
    opacity: .8;
}
.node text, .remove text {
    fill: #fff;
}
</style>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>
<script src="js/map.js"></script>

Styleguide 6.3
*/
