/*
Map

Data driven map via D3, loosely based on several examples from Mike Bostock <a href="http://bl.ocks.org/mbostock">http://bl.ocks.org/mbostock</a>

Markup:
<div class="map"></div>
<style>
.background {
  fill: none;
  pointer-events: all;
}
.feature {
  fill: #ccc;
  cursor: pointer;
}
.feature.active {
  fill: orange;
}
.country {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.node circle {
    opacity: .8;
}
.node circle.active {
    opacity: 1;
    stroke: #fff;
    transition: opacity 0.1s;
}
.node text {
    fill: #fff;
    cursor: pointer;
}
.region {
    fill: #ddd;
    cursor: pointer;
    transition: fill 0.1s;
}
.region.active {
    fill: #bbb;
    transition: fill 0.1s;
}
/*.region#northAmerica {
    fill: #f00;
}
.region#eastAsia {
    fill: #0f0;
}
.region#euCentralAsia {
    fill: #00f;
}
.region#latinAmerica {
    fill: #f0f;
}
.region#midEastNorthAfrica {
    fill: #ff0;
}
.region#southAsia {
    fill: #0ff;
}
.region#subSaharanAfrica {
    fill: #f99;
}
.region#westEurope {
    fill: #99f;
    }
    </style>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="js/map2.js"></script>

    Styleguide 6.3
    */
