.b-search {
    width: 100%;
    padding: 0;
    position: relative;

    input {
        border: 0;
        color: currentColor;
        vertical-align: bottom; 
        background-color: transparent;
       @include transition;
    }

    input:focus { outline: none; }

    input[type='text'] { 
        background-color: $gray-10;
        padding: 8px 0;
        max-width: 0;
        width: calc(100% - 45px); // Need to keep both widths in base and .m-active styles for transition to work smoothly
    }

    input[type='text']:focus { max-width: 100%; }

    input[type='submit'] {
        padding: 8px;
        line-height: .95; // Alignement Fix
    }

    input[type='submit']:hover { opacity: 1; }
}

.b-search.m-fixed,
.b-search.m-active {
    z-index: 20;

    input[type='text'] {
        padding: 8px;
        max-width: 100%;
        width: calc(100% - 45px); // Need to keep both widths in base and .m-active styles for transition to work smoothly
    }

    input[type='submit'] { opacity: 1; }
}


.b-search.m-negative {
    input { color: $white; }
    input[type='text'] { background-color: $white-10; }
}
