The buttons have out of the box support any of the icons from the <a href="https://www.google.com/design/icons/" target="_blank">Material Icons Library</a>
<a href="#" class="b-button">Text</a>
<a href="#" class="b-button m-purple">Text <i class="material-icons">arrow_forward</i></a>
<a href="#" class="b-button m-teal">Learn More<i class="material-icons">add</i></a>
<a href="#" class="b-button m-orange">Send<i class="material-icons">send</i></a>
<a href="#" class="b-button m-blue">Confirm<i class="material-icons">check</i></a>
<a href="#" class="b-button m-black">Delete<i class="material-icons">close</i></a>
<a href="#" class="b-button m-icon-only m-black"><i class="material-icons">close</i></a>
<div class="b-divider m-purple">
<div class="row">
<a href="#" class="b-button m-naked">Naked button <i class="material-icons">arrow_forward</i></a>
</div>
</div>