<header class="b-top-nav">
    
    <div class="e-nav-group">
        <span class="e-nav-item js-nav-trigger e-nav-trigger">
            <i class="material-icons">menu</i>
        </span>
        <span class="e-nav-item">
            {% include 'includes/search.html' %}    
        </span>
    
        
    
    </div>

    <a class="e-logo" href="./">
        <img src="static/img/govlab-logo-white.png" alt="">
    </a>

    <div class="e-social-media e-nav-group">
        <a href="https://twitter.com/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/user/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-youtube-play"></i></a>
    </div>
</header>


{# <header class="b-top-nav">
    
    <div class="e-nav-group">
        <div class="e-nav-item js-nav-trigger e-nav-trigger">
            <i class="material-icons">menu</i>
        </div>
    
        {# {% include 'includes/search.html' %} #}
    
{#     </div>

    <div class="e-logo">
        <a href="./"><img src="static/img/govlab-logo-white.png" alt=""></a>
    </div>

    <div class="e-social-media e-nav-group">
        <a href="https://twitter.com/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/user/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-youtube-play"></i></a>
    </div>
</header> #}
