* {
  box-sizing: border-box; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    ::-webkit-input-placeholder {
      text-align: center; } }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    :-moz-placeholder {
      text-align: center; } }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    ::-moz-placeholder {
      text-align: center; } }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    :-ms-input-placeholder {
      text-align: center; } }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none; }
  #overlay.m-active {
    display: block; }

body {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: #523080; }

input[type="text"] {
  border: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.1); }
  input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.3); }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.b-top-nav {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  background-color: #333;
  padding: 10px 20px;
  text-align: center;
  color: white; }
  .b-top-nav a {
    color: currentColor; }
  .b-top-nav .e-logo {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Firefox, Chrome, Opera */
    padding: 5px 0 0;
    vertical-align: middle; }
    .b-top-nav .e-logo img {
      max-width: 100px; }
      @media (min-width: 1025px) {
        .b-top-nav .e-logo img {
          max-width: 140px; } }
  .b-top-nav .e-nav-item {
    padding: 15px 10px 10px;
    display: inline-block;
    cursor: pointer; }
    .b-top-nav .e-nav-item i {
      opacity: .2;
      transition: all .4s ease; }
      .b-top-nav .e-nav-item i:hover {
        opacity: 1; }
  @media (max-width: 767px) {
    .b-top-nav .e-social-media {
      display: none; } }
  .b-top-nav .e-social-media a:hover i {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    -ms-transform: scale(1.6);
    /* IE 9 */
    transform: scale(1.6);
    /* IE 10, Fx 16+, Op 12.1+ */ }

.b-search {
  display: inline-block;
  position: relative; }
  .b-search input {
    border: 0;
    color: white;
    display: inline-block;
    vertical-align: bottom;
    transition: all .4s ease; }
  .b-search input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none; }
  .b-search input[type='text'] {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Firefox, Chrome, Opera */
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 0;
    padding: 4px 0; }
  .b-search input[type='submit'] {
    padding: 8px 0;
    background-color: transparent;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    line-height: 0.6;
    color: white;
    opacity: .2; }
  .b-search input[type='submit']:hover {
    opacity: 1; }

.b-search.m-active {
  z-index: 11; }
  .b-search.m-active input[type='text'] {
    max-width: 300px;
    padding: 4px 6px;
    background-color: rgba(255, 255, 255, 0.3); }
  .b-search.m-active input[type='submit'] {
    padding: 8px;
    color: white;
    opacity: 1; }

.b-main-menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  right: 100%;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: #333;
  -webkit-flex-flow: column;
  flex-flow: column;
  transition: all .4s ease; }
  @media (min-width: 1025px) {
    .b-main-menu {
      left: -28%; } }
  .b-main-menu.m-active {
    left: 0;
    right: 70px; }
    @media (min-width: 1025px) {
      .b-main-menu.m-active {
        right: 72%; } }
  .b-main-menu a {
    display: block;
    font-size: 18px;
    padding: 30px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; }
    @media (min-width: 1025px) {
      .b-main-menu a {
        text-align: right; } }
    .b-main-menu a:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: white; }

.b-top-nav .b-search {
  top: -4px; }

.b-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding-top: 1px;
  padding-bottom: 10px;
  font-size: 16px; }
  @media (min-width: 1025px) {
    .b-footer {
      padding: 45px 0; }
      .b-footer .e-wrap {
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: flex; } }
  .b-footer .e-content {
    -webkit-flex: 1;
    flex: 1; }
    .b-footer .e-content:nth-child(3n) {
      margin-right: 0; }
    @media (min-width: 1025px) {
      .b-footer .e-content {
        margin-right: 60px; } }
    @media (max-width: 767px) {
      .b-footer .e-content {
        text-align: center; } }
    .b-footer .e-content h4 {
      margin: 40px 0 0;
      font-weight: 600;
      text-transform: uppercase;
      color: white; }
    .b-footer .e-content .e-partner-logo {
      display: block; }
      .b-footer .e-content .e-partner-logo > img {
        max-width: 90%;
        padding: 10px 0;
        max-height: 60px;
        opacity: .5;
        transition: all .4s ease; }
        .b-footer .e-content .e-partner-logo > img:hover {
          opacity: 1;
          transition: all .4s ease; }
      .b-footer .e-content .e-partner-logo.m-google img {
        max-height: 50px;
        max-width: 70%; }
      .b-footer .e-content .e-partner-logo.m-mit img {
        max-height: 70px; }
  .b-footer .e-content.m-sections a {
    display: block;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    text-decoration: none;
    margin-left: -10px;
    margin-right: 10px;
    transition: all .4s ease; }
    @media (min-width: 1025px) {
      .b-footer .e-content.m-sections a {
        display: inline-block;
        width: 49%; } }
    .b-footer .e-content.m-sections a:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all .4s ease; }
  .b-footer .b-build-team {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center; }
    @media (min-width: 1025px) {
      .b-footer .b-build-team {
        text-align: left;
        padding: 20px 0; } }
    .b-footer .b-build-team .e-wrap {
      max-width: 1025px;
      margin-left: auto;
      margin-right: auto; }
      .b-footer .b-build-team .e-wrap .e-social-media {
        text-align: center; }
        @media (min-width: 1025px) {
          .b-footer .b-build-team .e-wrap .e-social-media {
            float: right; } }
        .b-footer .b-build-team .e-wrap .e-social-media a {
          padding: 10px 15px;
          cursor: pointer; }
      .b-footer .b-build-team .e-wrap a {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400; }
        .b-footer .b-build-team .e-wrap a:hover {
          color: white; }
      .b-footer .b-build-team .e-wrap p {
        margin: 0;
        color: rgba(255, 255, 255, 0.6); }

.b-copyright {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px; }
  @media (min-width: 1025px) {
    .b-copyright {
      padding: 20px;
      text-align: left; } }
  .b-copyright .e-wrap {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px; }
    .b-copyright .e-wrap .e-cc-badge {
      margin-right: 25px;
      margin-top: 5px; }
      @media (max-width: 767px) {
        .b-copyright .e-wrap .e-cc-badge {
          display: block; } }
      @media (min-width: 1025px) {
        .b-copyright .e-wrap .e-cc-badge {
          float: left; } }
    .b-copyright .e-wrap a {
      margin: 0;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.7); }
      .b-copyright .e-wrap a:hover {
        color: white; }

body {
  background-color: green; }

.b-footer {
  margin-top: 800px; }

/*# sourceMappingURL=styles.css.map */
