* {
  box-sizing: border-box; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    ::-webkit-input-placeholder {
      text-align: center; } }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    :-moz-placeholder {
      text-align: center; } }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    ::-moz-placeholder {
      text-align: center; } }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 767px) {
    :-ms-input-placeholder {
      text-align: center; } }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  background-color: red;
  opacity: .1; }
  #overlay.m-active {
    display: block; }

input[type="text"] {
  border: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.1); }
  input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.3); }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: currentColor; }

a:hover {
  text-decoration: underline;
  background-color: transparent; }

h1 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 50px; } }
  @media (min-width: 1025px) {
    h1 {
      font-size: 60px; } }

h2 {
  font-size: 20px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h2 {
      font-size: 28px; } }
  @media (min-width: 1025px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px; } }
  @media (min-width: 1025px) {
    h3 {
      font-size: 26px; } }

pre {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px; }

table {
  margin-top: 20px;
  width: 100%; }
  table th {
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase; }
  table tr {
    text-align: left; }
  table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05); }
  table td, table th {
    padding: 8px;
    font-size: 12px;
    vertical-align: top; }
    @media (min-width: 768px) {
      table td, table th {
        font-size: 16px;
        padding: 10px; } }
    @media (min-width: 1025px) {
      table td, table th {
        font-size: 16px;
        padding: 15px; } }
  table td p {
    margin: 0;
    line-height: 1.2; }

.b-wrap, .b-grid-container.m-wrap, .b-slide > header, .b-slide .e-content, .b-sticky .e-wrap {
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 1025px) {
    .b-wrap, .b-grid-container.m-wrap, .b-slide > header, .b-slide .e-content, .b-sticky .e-wrap {
      padding-left: 0;
      padding-right: 0; } }

.b-grid-container, .b-slide .e-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .b-grid-container, .b-slide .e-content {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  .b-grid-container .e-column, .b-slide .e-content .e-column, .b-grid-container .e-half, .b-slide .e-content .e-half, .b-grid-container .e-third, .b-slide .e-content .e-third, .b-grid-container .e-quarter, .b-slide .e-content .e-quarter {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px; }
    @media (min-width: 1025px) {
      .b-grid-container .e-column:first-of-type, .b-slide .e-content .e-column:first-of-type, .b-grid-container .e-half:first-of-type, .b-slide .e-content .e-half:first-of-type, .b-grid-container .e-third:first-of-type, .b-slide .e-content .e-third:first-of-type, .b-grid-container .e-quarter:first-of-type, .b-slide .e-content .e-quarter:first-of-type {
        padding-left: 0; }
      .b-grid-container .e-column:last-of-type, .b-slide .e-content .e-column:last-of-type, .b-grid-container .e-half:last-of-type, .b-slide .e-content .e-half:last-of-type, .b-grid-container .e-third:last-of-type, .b-slide .e-content .e-third:last-of-type, .b-grid-container .e-quarter:last-of-type, .b-slide .e-content .e-quarter:last-of-type {
        padding-right: 0; } }
    @media (max-width: 767px) {
      .b-grid-container .e-column, .b-slide .e-content .e-column, .b-grid-container .e-half, .b-slide .e-content .e-half, .b-grid-container .e-third, .b-slide .e-content .e-third, .b-grid-container .e-quarter, .b-slide .e-content .e-quarter {
        padding-left: 15px;
        padding-right: 15px; } }
  .b-grid-container.m-bare .e-column, .b-slide .m-bare.e-content .e-column, .b-grid-container.m-bare .e-half, .b-slide .m-bare.e-content .e-half, .b-grid-container.m-bare .e-third, .b-slide .m-bare.e-content .e-third, .b-grid-container.m-bare .e-quarter, .b-slide .m-bare.e-content .e-quarter {
    padding-left: 0;
    padding-right: 0; }
  .b-grid-container .e-half, .b-slide .e-content .e-half {
    flex-basis: 50%;
    -webkit-flex-basis: 50%; }
  @media (min-width: 768px) {
    .b-grid-container .e-third, .b-slide .e-content .e-third {
      flex-basis: 33%;
      -webkit-flex-basis: 33%; } }
  @media (min-width: 768px) {
    .b-grid-container .e-quarter, .b-slide .e-content .e-quarter {
      flex-basis: 50%;
      -webkit-flex-basis: 50%; } }
  @media (min-width: 1025px) {
    .b-grid-container .e-quarter, .b-slide .e-content .e-quarter {
      flex-basis: 25%;
      -webkit-flex-basis: 25%; } }

.b-button {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer !important;
  padding: 15px 20px;
  transition: all .4s ease; }
  .b-button:hover {
    text-decoration: none;
    transition: all .4s ease;
    background-color: rgba(0, 0, 0, 0.2); }
  @media (max-width: 767px) {
    .b-button {
      display: block;
      text-align: center; }
      .b-button ~ .b-button {
        margin: 10px 0; } }
  .b-button i {
    margin-left: 15px;
    vertical-align: bottom;
    float: right; }

.b-button.m-icon-only i {
  margin-left: 0;
  float: none; }

.b-button.m-purple {
  background-color: #523080;
  color: white; }
  .b-button.m-purple:hover {
    background-color: #381759; }

.b-button.m-teal {
  background-color: #008895;
  color: white; }
  .b-button.m-teal:hover {
    background-color: #00616b; }

.b-button.m-orange {
  background-color: #ee5b43;
  color: white; }
  .b-button.m-orange:hover {
    background-color: #be4936; }

.b-button.m-blue {
  background-color: #008ab3;
  color: white; }
  .b-button.m-blue:hover {
    background-color: #006e8f; }

.b-button.m-black {
  background-color: #333;
  color: white; }
  .b-button.m-black:hover {
    background-color: rgba(0, 0, 0, 0.9); }

.b-button.m-naked {
  background-color: transparent;
  color: white; }
  @media (min-width: 1025px) {
    .b-button.m-naked {
      margin-left: -10px; } }
  @media (max-width: 767px) {
    .b-button.m-naked {
      background-color: rgba(0, 0, 0, 0.2); } }
  .b-button.m-naked:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .4s ease; }

.b-search {
  width: 100%;
  padding: 0;
  position: relative; }
  .b-search input {
    border: 0;
    color: currentColor;
    vertical-align: bottom;
    background-color: transparent;
    transition: all .4s ease; }
  .b-search input:focus {
    outline: none; }
  .b-search input[type='text'] {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    max-width: 0;
    width: calc(100% - 45px); }
  .b-search input[type='text']:focus {
    max-width: 100%; }
  .b-search input[type='submit'] {
    padding: 8px;
    line-height: .95; }
  .b-search input[type='submit']:hover {
    opacity: 1; }

.b-search.m-fixed,
.b-search.m-active {
  z-index: 20; }
  .b-search.m-fixed input[type='text'],
  .b-search.m-active input[type='text'] {
    padding: 8px;
    max-width: 100%;
    width: calc(100% - 45px); }
  .b-search.m-fixed input[type='submit'],
  .b-search.m-active input[type='submit'] {
    opacity: 1; }

.b-search.m-negative input {
  color: white; }
.b-search.m-negative input[type='text'] {
  background-color: rgba(255, 255, 255, 0.1); }

.b-main-menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  right: 100%;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: #333;
  -webkit-flex-flow: column;
  flex-flow: column;
  transition: all .4s ease; }
  @media (min-width: 768px) {
    .b-main-menu {
      left: -48%; } }
  @media (min-width: 1025px) {
    .b-main-menu {
      left: -28%; } }
  .b-main-menu.m-active {
    left: 0;
    right: 70px; }
    @media (min-width: 768px) {
      .b-main-menu.m-active {
        right: 52%; } }
    @media (min-width: 1025px) {
      .b-main-menu.m-active {
        right: 72%; } }
  .b-main-menu a {
    display: block;
    font-size: 18px;
    padding: 30px;
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; }
    .b-main-menu a:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: white; }

.b-top-nav {
  background-color: #333;
  color: white;
  padding: 5px;
  position: relative; }
  @media (min-width: 768px) {
    .b-top-nav {
      padding: 10px 20px; } }
  .b-top-nav a {
    color: currentColor; }
  .b-top-nav .e-logo {
    padding: 5px 0 0 0;
    text-align: center;
    display: block; }
    .b-top-nav .e-logo img {
      max-width: 100px; }
      @media (min-width: 768px) {
        .b-top-nav .e-logo img {
          max-width: 140px; } }
  .b-top-nav .e-nav-group {
    position: absolute;
    top: 0; }
    .b-top-nav .e-nav-group.m-left {
      left: 0; }
    .b-top-nav .e-nav-group.m-right {
      right: 0; }
  .b-top-nav .e-nav-item {
    padding: 11px;
    display: inline-block; }
    @media (min-width: 768px) {
      .b-top-nav .e-nav-item {
        padding: 20px; } }
  .b-top-nav .e-nav-item.m-container {
    padding: 0; }

.b-top-nav .e-social-media {
  display: none; }
@media (max-width: 767px) {
  .b-top-nav .e-search-container {
    display: none; } }
@media (min-width: 768px) {
  .b-top-nav .e-social-media {
    display: block; } }

.b-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding-top: 1px;
  padding-bottom: 10px;
  font-size: 16px; }
  @media (min-width: 1025px) {
    .b-footer {
      padding: 45px 0; }
      .b-footer .e-wrap {
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: flex; } }
  .b-footer .e-content {
    -webkit-flex: 1;
    flex: 1; }
    .b-footer .e-content:nth-child(3n) {
      margin-right: 0; }
    @media (min-width: 1025px) {
      .b-footer .e-content {
        margin-right: 60px; } }
    @media (max-width: 767px) {
      .b-footer .e-content {
        text-align: center; } }
    .b-footer .e-content h4 {
      margin: 40px 0 0;
      font-weight: 600;
      text-transform: uppercase;
      color: white; }
    .b-footer .e-content .e-partner-logo {
      display: block; }
      .b-footer .e-content .e-partner-logo > img {
        max-width: 90%;
        padding: 10px 0;
        max-height: 60px;
        opacity: .5;
        transition: all .4s ease; }
        .b-footer .e-content .e-partner-logo > img:hover {
          opacity: 1;
          transition: all .4s ease; }
      .b-footer .e-content .e-partner-logo.m-google img {
        max-height: 50px;
        max-width: 70%; }
      .b-footer .e-content .e-partner-logo.m-mit img {
        max-height: 70px; }
  .b-footer .e-content.m-sections a {
    display: block;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    text-decoration: none;
    margin-left: -10px;
    margin-right: 10px;
    transition: all .4s ease; }
    @media (min-width: 1025px) {
      .b-footer .e-content.m-sections a {
        display: inline-block;
        width: 49%; } }
    .b-footer .e-content.m-sections a:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all .4s ease; }
  .b-footer .b-build-team {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center; }
    @media (min-width: 1025px) {
      .b-footer .b-build-team {
        text-align: left;
        padding: 20px 0; } }
    .b-footer .b-build-team .e-wrap {
      max-width: 1025px;
      margin-left: auto;
      margin-right: auto; }
      .b-footer .b-build-team .e-wrap .e-social-media {
        text-align: center; }
        @media (min-width: 1025px) {
          .b-footer .b-build-team .e-wrap .e-social-media {
            float: right; } }
        .b-footer .b-build-team .e-wrap .e-social-media a {
          padding: 10px 15px;
          cursor: pointer; }
      .b-footer .b-build-team .e-wrap a {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 400; }
        .b-footer .b-build-team .e-wrap a:hover {
          color: white; }
      .b-footer .b-build-team .e-wrap p {
        margin: 0;
        color: rgba(255, 255, 255, 0.6); }

.b-copyright {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px; }
  @media (min-width: 1025px) {
    .b-copyright {
      padding: 20px;
      text-align: left; } }
  .b-copyright .e-wrap {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px; }
    .b-copyright .e-wrap .e-cc-badge {
      margin-right: 25px;
      margin-top: 5px; }
      @media (max-width: 767px) {
        .b-copyright .e-wrap .e-cc-badge {
          display: block; } }
      @media (min-width: 1025px) {
        .b-copyright .e-wrap .e-cc-badge {
          float: left; } }
    .b-copyright .e-wrap a {
      margin: 0;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.7); }
      .b-copyright .e-wrap a:hover {
        color: white; }

.b-divider {
  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.3;
  color: white; }
  .b-divider :first-child {
    margin-top: 0; }
  .b-divider :last-child {
    margin-bottom: 0; }
  .b-divider h1 {
    text-transform: none;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .b-divider h1 {
        font-size: 40px; } }
  .b-divider h1 + h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .b-divider h1 + h2 {
        font-size: 22px; } }
  .b-divider h2 {
    text-transform: none;
    font-weight: 100; }

.b-divider.m-purple {
  background-color: #523080; }

.b-divider.m-blue {
  background-color: #008ab3; }

.b-divider.m-orange {
  background-color: #ee5b43; }

.b-divider.m-teal {
  background-color: #008895; }

.b-slide {
  background-color: #333;
  color: white;
  padding: 20px 0; }
  @media (max-width: 767px) {
    .b-slide > header {
      text-align: center; } }
  .b-slide > header > h4 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media (min-width: 768px) {
      .b-slide > header > h4 {
        margin-top: 0; } }
  .b-slide p {
    font-weight: 300; }
  .b-slide p a {
    text-decoration: underline; }
  .b-slide .e-slider-index > span {
    overflow: hidden;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block; }
  .b-slide .e-slider-index .m-active {
    background-color: rgba(255, 255, 255, 0.5); }
  .b-slide .e-content h2,
  .b-slide .e-content h3 {
    font-weight: 100;
    line-height: 1.2;
    text-transform: none; }
  .b-slide .e-content h2 {
    font-size: 40px; }
  .b-slide .e-content h3 {
    font-size: 20px; }
  .b-slide .e-content h3 strong {
    font-weight: 600; }
  @media (max-width: 767px) {
    .b-slide .e-action {
      margin-bottom: 10px; } }

.b-slide.m-purple {
  background-color: #523080; }

.b-slide.m-blue {
  background-color: #008ab3; }

.b-slide.m-orange {
  background-color: #ee5b43; }

.b-slide.m-teal {
  background-color: #008895; }

.b-slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: transparent; }
  .b-slider .slick-arrow:before, .b-slider .slick-arrow:after {
    color: rgba(255, 255, 255, 0.2);
    font-size: 60px;
    transition: all .4s ease; }
  .b-slider .slick-arrow:hover:before, .b-slider .slick-arrow:hover:after {
    color: rgba(255, 255, 255, 0.6);
    transition: all .4s ease; }
.b-slider .slick-prev {
  left: 0; }
  .b-slider .slick-prev:before {
    content: "keyboard_arrow_left"; }
.b-slider .slick-next {
  right: 0; }
  .b-slider .slick-next:after {
    content: "keyboard_arrow_right"; }

.b-sticky {
  background-color: #333;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .b-sticky .e-wrap {
    color: rgba(255, 255, 255, 0.6); }
    .b-sticky .e-wrap .e-title {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 20px; }
      @media (max-width: 767px) {
        .b-sticky .e-wrap .e-title {
          font-size: 16px; } }
    .b-sticky .e-wrap p {
      margin: 10px 0; }
    .b-sticky .e-wrap p a {
      color: rgba(255, 255, 255, 0.9); }
    .b-sticky .e-wrap p a:hover {
      text-decoration: underline; }
    .b-sticky .e-wrap .e-close {
      float: right;
      margin-right: 10px;
      opacity: .6;
      cursor: pointer; }
      .b-sticky .e-wrap .e-close:hover {
        opacity: 1; }

.b-sticky.m-error,
.b-sticky.m-red {
  background-color: #c30014; }

.b-sticky.m-success,
.b-sticky.m-green {
  background-color: #197d32; }

.b-sticky.m-alert,
.b-sticky.m-orange {
  background-color: #ee5b43; }

.b-sticky.m-purple {
  background-color: #523080; }

.b-sticky.m-blue {
  background-color: #008ab3; }

.b-sticky.m-teal {
  background-color: #008895; }

/*# sourceMappingURL=styles.css.map */
