{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <div class="b-divider m-purple">
        <h1>This is a divider with a big text</h1>
        <h2>Smaller title with more characteres and working as a tagline</h2>
    </div>
    <div class="b-divider">
        <div class="b-wrap">
            <a class="b-button m-naked" href="#">Button Text<i class="material-icons">arrow_forward</i></a>
            <a class="b-button m-naked" href="#">Button Text<i class="material-icons">arrow_forward</i></a>
        </div>
    </div>
    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>
        <a href="#" class="b-button">Button Text</a>
    </div>
    <div class="b-divider">
        <div class="b-wrap">
            <a class="b-button m-naked" href="#">Button Text</a>
        </div>
    </div>
    <div class="b-grid-container m-wrap">
        <div class="e-quarter">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-quarter">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-half">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
    </div><!--/container-->
    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>    
    </div>
    <div class="b-divider m-teal">
        <div class="b-wrap">
            <h1>This is a divider with a big text</h1>
        </div>
    </div>
    <div class="b-wrap">
        <h2>Title for this paragraphs</h2>
        <h3>Title for this paragraphs</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>    
    </div>


    
</main><!--@main-->


{% endblock %}