{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section m-purple">
        <div class="row">
            <h2>Buttons</h2>
        </div>
    </header>
    <div class="b-page-section">
        <div class="row">
            <a href="#" class="b-button">Text</a>
            <a href="#" class="b-button m-purple">Text <i class="material-icons">arrow_forward</i></a>
            <a href="#" class="b-button m-teal">Learn More<i class="material-icons">add</i></a>
            <a href="#" class="b-button m-orange">Send<i class="material-icons">send</i></a>
            <a href="#" class="b-button m-blue">Confirm<i class="material-icons">check</i></a>
            <a href="#" class="b-button m-black">Delete<i class="material-icons">close</i></a>
            <a href="#" class="b-button m-icon-only m-black"><i class="material-icons">close</i></a>
        </div>
    </div>
    <div class="b-page-section m-black">
        <div class="row">
            <a href="#" class="b-button">Text</a>
            <a href="#" class="b-button m-purple">Text <i class="material-icons">arrow_forward</i></a>
            <a href="#" class="b-button m-teal">Learn More<i class="material-icons">add</i></a>
            <a href="#" class="b-button m-orange">Send<i class="material-icons">send</i></a>
            <a href="#" class="b-button m-blue">Confirm<i class="material-icons">check</i></a>
            <a href="#" class="b-button m-black">Delete<i class="material-icons">close</i></a>
            <a href="#" class="b-button m-icon-only m-black"><i class="material-icons">close</i></a>
        </div>    
    </div>    
    
    <div class="b-divider m-purple">
        <div class="row">
            <a href="#" class="b-button m-naked">Naked button <i class="material-icons">arrow_forward</i></a>
        </div>
    </div>

    <div class="b-page-section b-component-code">
        <div class="row">
        <h1>Usage</h1>
        <p>These are the many possibilities for the buttons.</p>
        <p>The buttons support any of the icons from the <a href="https://www.google.com/design/icons/" target="_blank">Material Icons Library</a></p>
<pre><code class="language-markup">
    &lt;a href=&quot;#&quot; class=&quot;b-button&quot;&gt;Text&lt;/a&gt;

    &lt;a href=&quot;#&quot; class=&quot;b-button m-purple&quot;&gt;Text &lt;i class=&quot;material-icons&quot;&gt;arrow_forward&lt;/i&gt;&lt;/a&gt;
    
    &lt;a href=&quot;#&quot; class=&quot;b-button m-teal&quot;&gt;Learn More&lt;i class=&quot;material-icons&quot;&gt;add&lt;/i&gt;&lt;/a&gt;
    
    &lt;a href=&quot;#&quot; class=&quot;b-button m-orange&quot;&gt;Send&lt;i class=&quot;material-icons&quot;&gt;send&lt;/i&gt;&lt;/a&gt;
    
    &lt;a href=&quot;#&quot; class=&quot;b-button m-blue&quot;&gt;Confirm&lt;i class=&quot;material-icons&quot;&gt;check&lt;/i&gt;&lt;/a&gt;
    
    &lt;a href=&quot;#&quot; class=&quot;b-button m-black&quot;&gt;Delete&lt;i class=&quot;material-icons&quot;&gt;close&lt;/i&gt;&lt;/a&gt;
    
    &lt;a href=&quot;#&quot; class=&quot;b-button m-icon-only m-black&quot;&gt;&lt;i class=&quot;material-icons&quot;&gt;close&lt;/i&gt;&lt;/a&gt;
</code></pre>
        <h3>Modifiers</h3>
        <p>These are the available modifiers</p>
<pre><code class="language-css">
.b-button.m-purple
.b-button.m-teal
.b-button.m-orange
.b-button.m-blue
.b-button.m-black
.b-button.m-icon-only.m-black
.b-button.m-naked
</code></pre>

        </div>
    </div>
   
</main><!--@main-->


{% endblock %}