{% extends "base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <div class="b-divider m-purple">
        <h1>Buttons</h1>
        <h2>Showing the many possibilities for the buttons</h2>
    </div>
    
    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>
        <a href="#" class="b-button">Text</a>
        <a href="#" class="b-button m-purple">Text <i class="material-icons">arrow_forward</i></a>
        <a href="#" class="b-button m-teal">Learn More<i class="material-icons">add</i></a>
        <a href="#" class="b-button m-orange">Send<i class="material-icons">send</i></a>
        <a href="#" class="b-button m-blue">Confirm<i class="material-icons">check</i></a>
        <a href="#" class="b-button m-black">Delete<i class="material-icons">close</i></a>
        <a href="#" class="b-button m-icon-only m-black"><i class="material-icons">close</i></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>
    </div>
    <div class="b-divider m-purple">
        <div class="b-wrap">
            <a href="#" class="b-button m-naked">Naked button <i class="material-icons">arrow_forward</i></a>
        </div>
    </div>
   
</main><!--@main-->


{% endblock %}