{% extends "base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    
    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>    
    </div>

    <div class="b-divider">
        <h1>This is a divider with a big text</h1>
        <h2>Smaller title with more characteres and working as a tagline</h2>
    </div>

    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>    
    </div>
    
    <div class="b-divider">
        <div class="b-wrap">
            <h2>This is a divider with a big text</h2>
        </div>
    </div>

    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>    
    </div>

    <div class="b-divider">
        <div class="b-wrap">
            <h3>This is a divider with a big text</h3>
        </div>
    </div>
    
    <div class="b-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>    
    </div>

    <div class="b-divider m-blue">
        <div class="b-wrap">
            <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-blue</strong> class to get this effect</p>
        </div>
    </div>
    <div class="b-divider m-purple">
        <div class="b-wrap">
            <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-purple</strong> class to get this effect</p>
        </div>
    </div>
    <div class="b-divider m-teal">
        <div class="b-wrap">
            <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-teal</strong> class to get this effect</p>
        </div>
    </div>
    <div class="b-divider m-orange">
        <div class="b-wrap">
            <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-orange</strong> class to get this effect</p>
        </div>
    </div>
    
</main><!--@main-->


{% endblock %}