{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">

    <div class="row">
        <div class="column small-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt itaque dolor ratione aspernatur nulla nemo, minima sit debitis at vel tenetur qui quod, aliquid suscipit atque, odit ipsam, commodi error!</p>
        </div>
    </div>

    <div class="b-divider">
        <h1>This is a divider with a big text</h1>
        <h2>Smaller title with more characteres and working as a tagline</h2>
    </div>

    <div class="b-page-section b-component-code">
        <div class="row">
            <div class="column small-12">
                <h1>Usage</h1>
                <p>This is the base divider, with <code>h1</code> and <code>h2</code> together, and center aligned.</p>
                <pre><code class="language-markup">
&lt;div class=&quot;b-divider&quot;&gt;
    &lt;h1&gt;This is a divider with a big text&lt;/h1&gt;
    &lt;h2&gt;Smaller title with more characteres and working as a tagline&lt;/h2&gt;
&lt;/div&gt;
                </code></pre>
            </div>
        </div>
    </div>
    <div class="b-divider">
        <div class="row">
            <div class="column small-12">
                <h2>This is a divider with a big text</h2>
            </div>
        </div>
    </div>

    <div class="b-page-section b-component-code">
        <div class="row">
            <div class="column small-12">
                <h1>Usage</h1>
                <p>This is the base divider, coupled with a <code>.b-wrap</code> for left aligned text. This can also be used with the grid system.</p>

                <pre><code class="language-markup">
&lt;div class=&quot;b-divider&quot;&gt;
    &lt;div class=&quot;b-wrap&quot;&gt;
        &lt;h2&gt;This is a divider with a big text&lt;/h2&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>
                <h3>Modifiers</h3>

                <p>These are the available modifiers</p>

                <pre><code class="language-markup">
.b-divider.m-blue
.b-divider.m-purple
.b-divider.m-teal
.b-divider.m-orange
                </code></pre>

                <h3>More Examples</h3>

                <p>Below some other examples of the possible modifiers for background colors</p>
            </div>
        </div>
    </div>



    <div class="b-divider">
        <div class="row">
            <div class="column small-12">
                <h3>This is a divider with a big text</h3>
            </div>
        </div>
    </div>
    <div class="b-divider m-blue">
        <div class="row">
            <div class="column small-12">
                <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-blue</strong> class to get this effect</p>
            </div>
        </div>
    </div>
    <div class="b-divider m-purple">
        <div class="row">
            <div class="column small-12">
                <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-purple</strong> class to get this effect</p>
            </div>
        </div>
    </div>
    <div class="b-divider m-teal">
        <div class="row">
            <div class="column small-12">
                <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-teal</strong> class to get this effect</p>
            </div>
        </div>
    </div>
    <div class="b-divider m-orange">
        <div class="row">
            <div class="column small-12">
                <p>This is a demonstration of the modifiers for background-color. You should use the <strong>.m-orange</strong> class to get this effect</p>
            </div>
        </div>
    </div>

</main><!--@main-->


{% endblock %}