
{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section m-purple">
        <div class="row">
            <div class="column small-12">
                <h2>Firebase Editable</h2>
            </div>
        </div>
    </header>

    <div class="b-page-section b-component-code">
        <div class="row">
            <div class="column small-12">
                <h1>Usage</h1>
                <div class="b-firebase-editable"></div>
            </div>
        </div>
    </div>

</main><!--@main-->


{% endblock %}