{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section m-purple">
                <div class="row">
            <div class="column small-12">
            <h2>Footer</h2>
        </div>
        </div>
    </header>

    <div class="b-page-section b-component-code">
                <div class="row">
            <div class="column small-12">
            <h1>Usage</h1>
            <p>This component is included in the <code>_base.html</code> file. Generally speaking, this should not be manually inserted anywhere.</p>

<pre><code class="language-markup">
&lt;footer class='b-footer'&gt;
    &lt;div class=&quot;e-wrap&quot;&gt;
        &lt;div class=&quot;e-content m-sections&quot;&gt;
            &lt;h4&gt;Sections&lt;/h4&gt;
            &#123;&#37; include &#39;includes/_menu-items.html&#39; &#37;&#125;
        &lt;/div&gt;
        &lt;div class=&quot;e-content&quot;&gt;
            &lt;h4&gt;Lead Supporters&lt;/h4&gt;
            &lt;a class=&quot;e-partner-logo&quot; href=&quot;https://www.macfound.org/&quot; tagret=&quot;_blank&quot;&gt;&lt;img src=&quot;static/img/partners/macarthur-logo-white.png&quot; alt=&quot;MacArthur Foundation&quot;&gt;&lt;/a&gt;
            &lt;a class=&quot;e-partner-logo&quot; href=&quot;http://knightfoundation.org/&quot; tagret=&quot;_blank&quot;&gt;&lt;img src=&quot;static/img/partners/knight-logo-white.png&quot; alt=&quot;Knight Foundation&quot;&gt;&lt;/a&gt;
            &lt;a class=&quot;e-partner-logo m-google&quot; href=&quot;http://google.org/&quot; tagret=&quot;_blank&quot;&gt;&lt;img src=&quot;static/img/partners/google-org.png&quot; alt=&quot;Google.org&quot;&gt;&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;e-content&quot;&gt;
            &lt;h4&gt;Based at&lt;/h4&gt;
            &lt;a class=&quot;e-partner-logo&quot; href=&quot;http://engineering.nyu.edu/tandon&quot; tagret=&quot;_blank&quot;&gt;&lt;img src=&quot;static/img/partners/nyu.png&quot; alt=&quot;NYU Tandon School of Engineering - New York University&quot;&gt;&lt;/a&gt;
            &lt;a class=&quot;e-partner-logo m-mit&quot; href=&quot;https://www.media.mit.edu/&quot; tagret=&quot;_blank&quot;&gt;&lt;img src=&quot;static/img/partners/mit-logo-white.png&quot; alt=&quot;MIT Media Lab&quot;&gt;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/footer&gt;
</code></pre>
</div>
</div>
</div>

</main><!--@main-->


{% endblock %}