{% extends "_base.html" %}
{% block content %}
<main role="main">
    <div class="b-top-section">
        <h2>Form</h2>
    </div>
    <div class="b-page-section">
        <div class="b-wrap">
            <form action="" class="b-form">
                <input type="text" id="name" placeholder="Name"/>
                <input type="email" id="mail" placeholder="Email"/>
                <textarea id="msg" placeholder="Message"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
    <div class="b-page-section m-black">
        <div class="b-wrap">
            <form action="" class="b-form m-negative">
                <input type="text" id="name" placeholder="Name"/>
                <input type="email" id="mail" placeholder="Email"/>
                <textarea id="msg" placeholder="Message"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
    <h1>Test title</h1>
    <div class="b-grid-container m-wrap">
        <div class="e-half">
            <form action="" class="b-form">
                <input type="text" id="name" placeholder="Name"/>
                <input type="email" id="mail" placeholder="Email"/>
                <input type="email" id="password" placeholder="Password"/>
                <textarea id="msg" placeholder="Message"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="e-half">
            <form action="" class="b-form">
                <div class="e-checkbox">
                    <input type="checkbox" id="checkbox-1"><label for="checkbox-1">I agree with the terms of service</label>
                </div>
                <div class="e-radio"><input type="radio" id="radio-1" name="guide"><label for="radio-1">Radio Check</label></div>
                <div class="e-radio"><input type="radio" id="radio-2" name="guide"><label for="radio-2">Radio Check</label></div>
                <div class="e-radio"><input type="radio" id="radio-3" name="guide"><label for="radio-3">Radio Check</label></div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}






