{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <div class="b-top-section m-purple">
        <h1>GovLab Styleguide</h1>
        <h3>Here you will find the documentation for the visual components of the govlab web production.</h3>

    </div>
    <div class="b-page-section m-teal">
        <p style="text-align: center;">This is a very early prototype and is intended to be an ever evolving documentation.</p>
    </div>
    
</main><!--@main-->


{% endblock %}