{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <div class="b-top-section m-purple">
        <h1>GovLab Styleguide</h1>
        <h3>Here you will find the documentation for the visual components of the govlab web products.</h3>
    </div>

    <div class="b-page-section">
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="row">
                    <div class="large-4 columns">
                        <h3>Utilities</h3>
                        <p><a class="b-button" href="./typography.html">Typography</a></p>
                        <p><a class="b-button" href="./buttons.html">Buttons</a></p>
                        <p><a class="b-button" href="./search.html">Search</a></p>
                        <p><a class="b-button" href="./modal.html">Modal</a></p>
                    </div>
                    <div class="large-4 columns">
                        <h3>Page Modules</h3>
                        <p><a class="b-button" href="./page-section.html">Page Section</a></p>
                        <p><a class="b-button" href="./page-top-section.html">Page Top Section</a></p>
                        <p><a class="b-button" href="./divider.html">Divider</a></p>

                        <div>
                            <a class="b-button" href="./slide.html">Slide</a>
                            <a class="b-button" href="./slider.html">Slider</a>
                        </div>
                        <p><a class="b-button" href="./form.html">Form</a></p>
                    </div>
                    <div class="large-4 columns">
                        <h3>More Components</h3>
                        <p><a class="b-button" href="./footer.html">Footer</a></p>
                        <p><a class="b-button" href="./sticky.html">Sticky</a></p>
                        <p><a class="b-button" href="./firebase-editable.html">Firebase Editable</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page-section m-teal">
        <p style="text-align: center;">This is a very early prototype and is intended to be an ever evolving documentation.</p>
    </div>

</main><!--@main-->


{% endblock %}