{% extends "base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <div class="b-grid-container">
        <div class="e-quarter">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-quarter">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-half">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
    </div><!--/container-->
    <div class="b-grid-container">
        <div class="e-third">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-third">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-third">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
    </div>
    <div class="b-grid-container">
        <div class="e-half">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
        <div class="e-quarter">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus adipisci id suscipit! Quasi rerum accusamus dolor, ipsa! Alias reiciendis hic suscipit dolore sed, modi cupiditate sequi quos, vero officiis blanditiis.</p>
        </div>
    </div>
</main><!--@main-->


{% endblock %}