{% extends "_base.html" %}
{% block page_id %}styleguide{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section m-purple">
        <div class="row">
            <div class="column small-12">
                <h2>Page Top Section</h2>
                <h3>This is the top section of a page. Generally speaking, each page should start with this section.</h3>
            </div>
        </div>
    </header>

    <div class="b-page-section b-component-code">
        <div class="row">
            <div class="column small-12">
                <h1>Usage</h1>
                <p></p>
<pre><code class="language-markup">
&lt;header class=&quot;b-top-section m-purple&quot;&gt;
    &lt;div class=&quot;b-wrap&quot;&gt;
        &lt;h2&gt;Page Top Section&lt;/h2&gt;
        &lt;h3&gt;This is the top section of a page. Generally speaking, each page should start with this section.&lt;/h3&gt;
    &lt;/div&gt;
&lt;/header&gt;
</code></pre>

            <h3>Modifiers</h3>
              
            <p>These are the available modifiers</p>        

<pre><code class="language-css">
.b-page-top-section.m-purple
.b-page-top-section.m-teal  
.b-page-top-section.m-orange
.b-page-top-section.m-blue
</code></pre>

            </div>
    
</main><!--@main-->


{% endblock %}